<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- arg: Use OpenCV -->
  <arg name="use_opencv" default="true" doc="Whether to use the OpenCV image processng node or the 'dumb' one."/>

  <!-- The drive_bot node -->
  <node name="drive_bot" type="drive_bot" pkg="ball_chaser" output="screen"/>

  <!-- The process_image node, depends on "use_opencv" argument -->
  <group if="$(arg use_opencv)">
    <node name="process_image_opencv" type="process_image_opencv.py" pkg="ball_chaser" output="screen"/>
  </group>
  <node name="process_image" type="process_image" pkg="ball_chaser" output="screen"
        unless="$(arg use_opencv)"/>
</launch>
